
.bg{
  background-image: url('../Images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  }

.bg1{
  background-image: url('../Images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.top{
  background-color: red;
}

#list{
  position: absolute;
  border-radius: 16px;
  background-color: #e7e7e7;
  border-style: none;
  height: 45px;
  width: 160px;
  font-size: 18px;
  padding: 10px;
  margin-left: 380px;
  margin-top: 23px;
  font-weight: bold;
}

#list:hover{
    background-color: #f0f0f0;
}

#search{
  position: absolute;
  border-radius: 20px;
  background-color: #129EFF;
  border-style: none;
  height: 45px;
  width: 160px;
  font-size: 18px;
  padding: 10px;
  margin-left: 980px;
  margin-top: 23px;
  color: white;
  font-weight: bold;
}

#search:hover{
  background-color: #0B90EC;
  color: white;


}

.bar{
  position: absolute;
  border-radius: 14px;
  margin-left: 560px;
  margin-top: 30px;
  height: 45px;
  width: 400px;
  border-style: none;
  background-color: #e7e7e7;
  font-size: 18px;
  top: 0px;
  padding: 20px;
}

.bar:hover{
    background-color: #f0f0f0;
}



.img{
  margin-left: 30px;
  margin-right: 30px;
  height: 300px;
  width: 300px;
  border-radius: 25px;
  transition: .4s;
}

.img:hover{
  box-shadow: 10px 10px   15px #B7B7B7 ;
  height: 302px;


}

.head{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-family: sans-serif;
  font-size: 35px;
}

.icon{
  margin-right: 20px;
  margin-top: 5px;
  height: 70px;
}


a{
   text-decoration: none;
}

.box{
  background-color: Black;
  width: 400px;
  height: 550px;
  margin-left: 700px;
  margin-top: 250px;
  border-radius: 30px;
  opacity: 0.3;
}
