*{
    font-family: Arial, Helvetica, sans-serif;
  }

.img:hover{
    opacity: 1;
  }
  
  .img-1{
    position: absolute;
    width: 300px;
    height: 220px;
    border-radius: 10px;
  }

  .size{
    height: 700px;
    position: relative;
  }
  
  .img-over{
    position: absolute;
    width: 300px;
    height: 220px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    opacity: 0;
    border-radius: 10px;
  }
  
  .img-over:hover{
    opacity: 1;
    transition: .2s;
  }
  
  .img-title{
    margin-top: 160px;
    margin-left: 18px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .img-des{
    font-size: 12px;
    margin-left: 18px;
    margin-top: 6px;
  }


