*{
  font-family: Arial, Helvetica, sans-serif;
}
.bg{
  background-image: url('../img/bgwhite.jpg');
  background-repeat:repeat;
  /* background-attachment: fixed; */
  background-size: 100%;
  }

.bg.reg{
  background-image: url('../img/bg.jpg');

}

.bg.tc{
  background-image: url('../img/tc bg.jpg');
}

.bg.fp{
  background-image: url('../img/forgot.webp');
}

.bg.abt{
  background-image: url('../img/bg-abt.jpg');
}

.main{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,0px));
  grid-template-rows: repeat(auto-fill,minmax(270px,220px));
  /* background-color:yellowgreen ; */
  width: 96%;
  height: 1150px;
  margin-left: 3.5%;
  margin-top: 2%;


}

#team{
  height: 410px;
  /* margin-top: 130px; */
  margin-left: 420px;
}


.get{
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  margin-top: -16%;
  margin-left: 980px;
  background-color: black;
  color: white;
}

.insp{
  font-size: 40px;
  font-weight: bolder;
  font-family: serif;
  position: absolute;
  margin-top: -13%;
  margin-left: 980px;
  color: #0B90EC;
}

.ever{
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  margin-top: -10.5%;
  margin-left: 980px;
  background-color: black;
  color: white;
}

#list{
  position: absolute;
  border-radius: 16px;
  background-color: #e7e7e7;
  border-style: none;
  height: 45px;
  width: 160px;
  font-size: 18px;
  padding: 10px;
  margin-left: 380px;
  margin-top: 30px;
  font-weight: bold;
}

#list:hover{
    background-color: #f0f0f0;
}

#filter{
  position: absolute;
  border-radius: 16px;
  background-color: #e7e7e7;
  border-style: none;
  height: 45px;
  width: 160px;
  font-size: 18px;
  padding: 10px;
  margin-left: 200px;
  margin-top: 30px;
  font-weight: bold;
}

#filter:hover{
    background-color: #f0f0f0;
}



#side-in{
  height: 600px;
  margin: 40px;
}

#side-up{
  height: 600px;
  margin: 40px;
  opacity: 1;
}

#side-tc{
  position: absolute;
  height: 600px;
  margin-top: 90px;
}


.icon{
  margin-left: 10px;
  margin-top: 6px;
  height: 50px;
}

a{
   text-decoration: none;
   color: #129EFF;
}

.box{
  background-color: white;
  width: 1200px;
  height: 660px;
  margin-top: 100px;
  margin-left: 315px;
  border-radius: 20px;
}

.tcbox{
  background-color: white;
  width: 1500px;
  height: 760px;
  margin-top: 70px;
  margin-left: 175px;
  border-radius: 20px;
}

.tac{
  position: absolute;
  margin-top: 45px;
  margin-left: 584px;
  height:630px;
  width: 900px;
  overflow: auto;
}



#terms{
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-top: -20px;
  margin-left: 650px;
}

#about{
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-top: -20px;
  margin-left: 770px;
}

.signin{
  margin-top: 20px;
  position: absolute;
}

.signup{
  margin-top: 4px;
  position: absolute;
}

p.text-head{
  margin-left: 0px;
  font-size: 30px;
  font-weight: bold;
}

p.text-head-pswd{
  margin-top: 180px;
  margin-left: 0px;
  font-size: 30px;
  font-weight: bold;
}

p.text-shead{
  margin-left: 0px;
  font-size: 15px;
  margin-bottom: 50px;
}

p.text-shead-pswd{
  margin-top: -15px;
  margin-left: 0px;
  font-size: 15px;
  margin-bottom: 50px;
}

p.text-shead.up{
  margin-bottom: 10px;
}

.textbox{
  border-radius: 25px;
  margin-top: 35px;
  height: 14px;
  width: 360px;
  border-style: none;
  background-color: #f0f0f0;
  font-size: 18px;
  top: 0px;
  padding: 20px;
}

#icon{
  margin-left: -45px;
  opacity: .3;
  font-size: 19px;
}

#icon:hover{
  color: #129EFF;
  opacity: .8;
}

.button-in{
  border-radius: 20px;
  background-color: #129EFF;
  border-style: none;
  height: 42px;
  width: 110px;
  font-size: 18px;
  padding: 10px;
  margin-left: 162px;
  margin-top: 28px;
  color: white;
  font-weight: bold;
}

.button-up{
  border-radius: 20px;
  background-color: #129EFF;
  border-style: none;
  height: 42px;
  width: 152px;
  font-size: 18px;
  padding: 10px;
  margin-left: 250px;
  margin-top: 25px;
  color: white;
  font-weight: bold;
}

.button-pswd{
  border-radius: 20px;
  background-color: #129EFF;
  border-style: none;
  height: 42px;
  width: 152px;
  font-size: 18px;
  padding: 10px;
  margin-left: 245px;
  margin-top: 28px;
  color: white;
  font-weight: bold;
}

.button-otp{
  border-radius: 20px;
  background-color: #129EFF;
  border-style: none;
  height: 42px;
  width: 152px;
  font-size: 18px;
  padding: 10px;
  margin-left: 156px;
  margin-top: 28px;
  color: white;
  font-weight: bold;
}

#back{
  position: absolute;
  margin-top: 120px;
  margin-left: 1310px;
}

#tac{
  position: absolute;
  margin-top: 710px;
  margin-left: 1310px;
}

.link-icon{
  height: 30px;
  margin-top: 45px;
  margin-left: 75px;
}

.invalid{
  font-size: 15px;
  margin-left: 15px;

  color: rgb(248, 31, 85);
}

.sidepro{
  background-color: rgb(247, 247, 247);
  width: 400px;
  height: 700px;
  margin-top:-4px;
  text-align: center;
  margin-left: -8px;
  /* border-radius: 10px; */
  
}

.profilepic{
  width: 200px;
  margin-top: -100px;
  /* margin-left: 125px; */
}

#banner{
  width: 1840px;
  height: 300px;
  margin-top: 80px;
  margin-left: -8px;
  /* position: fixed; */
}

.follow{
  height: 50px;
  width: 170px;
  border-radius: 30px;
  border-style: none;
  background-color:#129EFF;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 10px;


}

.follow:hover{
  background-color: #0B90EC;
  /* color: white; */
}

.adbanner{
  background-color: rgb(255, 255, 255, .7);
  width: 90%;
  height: 400px;
  margin-left: 65px;
  margin-top: 130px;;
  border-radius: 30px;
  padding: 30px;
}

.filter{
  margin-left:1%;
  border-radius: 12px;
  width: 32px;
  height: 30px;
  border-style: none;
  /* margin-top: 7px; */
}

.colortext{
  font-weight: bold;
  font-size: 25px;
  opacity: .6;
  margin-right: 10px;
}

.filter.red{
  background-color: rgb(255, 51, 51);
}

.filter.yellow{
  background-color: rgb(238, 202, 0);
}

.filter.blue{
  background-color:rgb(0, 174, 255);
}

.filter.green{
  background-color:rgb(16, 192, 0);
}

.filter.violet{
  background-color:rgb(146, 0, 204);
}

.filter.orange{
  background-color:rgb(243, 117, 0);
}

.filter.black{
  background-color:rgb(0, 0, 0);
}

.filter.white{
  background-color:rgb(255, 255, 255);
}

.colorbox{
  background-color: rgba(93, 93, 93, 0.1);
  margin-left: 3.5%;
  width: 320px;
  height: 56px;
  padding: 15px;
  border-radius: 20px;
}